################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CDSTestProject/bin/Debug/netcoreapp3.1
/CDSTestProject/obj
